body{
  background-image: url;
  background: url(img/ch.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.cont {
  margin: 15px;
  background-image: url(img/mad.jpg);
  padding: 30px;
  width: 400px;
  border-radius: 20px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form {
  width: 350px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.51);
  border: 2px solid #000000;
  border-radius: 35px;
}

.tit {
  background: white;
  border-radius: 5px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.subt {
  background: white;
  border-radius: 50px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.ft{
  background: white;
  border-radius: 5px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  }

.ft a{
  margin-right: 10px;
}





