* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(img/FONDO1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid gray;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite alternate; 
}

@keyframes pulse {
  0% {
    border-color: gray;
  }
  100% {
    border-color: pink;
  }
}

h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  font-size: 1rem;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: white;
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: white;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

input[type="reset"],
input[type="submit"] {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}

input[type="reset"] {
  background-color: gray;
  color: white;
}

input[type="submit"] {
  background-color: pink;
  color: black;
}


input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: black;
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: white;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}